@import "base/variables";
@import "base/functions";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: font(main);
    font-size: font-size(main);
}

.header {
    margin: 0 auto;
    width: 1240px;
    color: color(black);
}


.contactBar,
.contactBar__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.contactBar {
    justify-content: space-between;
    height: 40px;

}

.contactBar__icon {
    margin-right: 10px;
}

.contactBar__button {
    border: 1px solid color(grayLight);
    background-color: transparent;
    padding: 12px 24px;
}

.firstItem {
    margin-right: 20px;
}

.body__line {
    position: absolute;
    top: 40px;
    width: 100vw;
    border: 1px solid;
    color: color(grayLight);
}

.content {
    display: flex;
    margin-top: 35px;
}

.navigation {
    margin-top: 60px;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: font-size(nav);
    font-weight: bold;
}

.navigation__link {
    text-decoration: none;
    list-style: none;
    color: color(black);
    transition: .2s;

    &:hover {
        color: color(pinkLight)
    }
}