@import "base/variables";
@import "base/functions";
@import 'base/media-queries.scss';
@import "base/mixins";

@import "layout/body.scss";
@import "layout/header.scss";



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}