@import "../base/variables";
@import "../base/functions";
@import "../base/mixins";

@import '../components/search.scss';
@import "../components/cart.scss";

.header {
    margin: 0 auto;
    width: 1240px;
    color: color(black);

    @include media(breakpoint(mobile), breakpoint(tablet)) {
        width: 95vw;
    }
}


.contactBar {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;

    &__list {
        display: flex;
        list-style: none;
        align-items: center;
    }

    &__icon {
        margin-right: 10px;
    }

    &__button {
        @include buttonReset;
        border: 1px solid color(grayLight);
        padding: 12px 24px;
    }

    &__link {
        @include listLink;
    }
}


.firstItem {
    margin-right: 20px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;

    @include media(breakpoint(mobile), breakpoint(tablet)) {
        margin-top: 25px;
    }

    &__logo {
        @include media(breakpoint(mobile), breakpoint(tablet)) {
            width: 130px;
        }
    }

    &__sideWrapper {
        display: flex;
    }
}


.navigation {
    margin-top: 60px;

    @include media(breakpoint(mobile), breakpoint(tablet)) {
        margin-top: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        font-size: font-size(nav);
        font-weight: bold;
        list-style: none;
    }

    &__item {
        @include media(breakpoint(mobile), breakpoint(tablet)) {
            font-size: font-size(tabletMain);
        }

        &:hover>.secondary__list {
            display: block;
        }
    }

    &__link {
        @include listLink;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
            color: color(pinkLight);
        }
    }
}


.subList {
    @include categoryList;
    background-color: color(bg);
    text-transform: none;
    list-style: none;
    font-weight: 300;
    border: 3px solid color(grayLight);
    padding: 12px 0px;
}

.secondary {
    &__list {
        display: none;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    }

    &__item {
        padding: 15px 30px;
        transition: .2s;

        &:hover {
            background-color: color(grayLighest);
        }

        &:hover>.tertiary__list {
            display: block;
        }
    }

    &__link {
        @include listLink;
    }
}

.tertiary {
    z-index: 999;

    &__list {
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        display: none;
        top: -.8%;
        left: 100%
    }

    &__item {
        padding: 8px 70px 8px 30px;
    }

    &__link {
        @include listLink;

        &:hover {
            color: color(pinkLight)
        }
    }
}