$colors: (black: #000,
    pinkIcon: #ea2260,
    gray: #a3a2a2,
    pinkLight: #ecc7d0,
    grayLight: #d7d7d7,
    bg: #fff);

$font-sizes: (main: 12px, nav: 13.3px);

$fonts: (main: #{'Lato', 'Arial', sans-serif},
    adobe: ('Helvetica', sans-serif));